@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;


}

nav{
    height: 90px;
    color: #ffffff;
    text-transform: uppercase;
}

a{
    cursor: pointer;
    font-weigth: bold;

}

.neo-section{
    min-height: 700px;
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative;


}

img{
    border-radius: 30px;

}

.wm{
    width: 50%;
    float: left;


}

.clear {
clear: both;


}


.center{
    text-align: center;


}


.neo-container{

    max-with: 1280px;
    padding: 2% 2%;
    margin: 0 auto;
    margin-top: 200px;



}

.shadow{

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.7);
    z-index: 100;

}

.neo-section > .neo-container
{
    position: relative;
    z-index: 105;
}


.text-center{
    color: #ffffff;
    font-size: 3em;
    font-weigth: 700px;

}

.btn{
    width: 280px;
    color: #ffffff;
    border-radius: 10px;
    border: 3px solid #a55eea;
    padding: 20px;




}

.botoes{
    padding: 2% 15%;


}

.btn:hover {

    color: CE93D8;
    background-color: rgba(0.0.0.5);
    font-weigth: bold;



}

.footer{

    color: #ffffff;
    background-color: #19191f;
    text-align: center;
    font-size: 1.25em;
    padding: 15px;

}

.btn-nav:hover {
color: #BA68C8;




}



@media (max-width: 667px)
{
  .wm{
    width: 100%;

  }

  .nav {
    height: 100%;

  }


  .neo-container{
    margin-top: 120px;

  }



}



